%li
  .row
    .col-md-1
    .col-md-3
      = best_in_place contact, :name, class: "input-sm"
    .col-md-2
      = best_in_place contact, :phone, class: "input-sm"
    .col-md-3
      = best_in_place contact, :email, class: "input-sm"
    .col-md-3
      =link_to image_tag("https://s3-us-west-1.amazonaws.com/lei-chen-self-production/application/deleteicon.png", height: "20", width: "20"), contact_path(contact), method: :delete, remote: true
